**/node_modules
**/dist
**/open-source
**/.zip
**/.DS_Store
**/.idea
**/.log
**/coverage
**/package-lock.json
**/.nyc_output
**/global-s3-assets
**/regional-s3-assets
**/npm-debug.log

#cdk related files
*cdk.out*
*.d.ts
source/bin/*.js
source/lib/*.js
source/test/*.js